.navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
  margin: 0 10px 20px 0;
  display: inline;
}

.navbar-brand p {
  display: inline-block;
}

button.navbar-toggle {
  margin-top: 20px;
}

ul.nav {
  margin-top: 15px;
}

#tlusa-blurb {
  margin-bottom: 30px;
}

.jumbotron h2, h3 {
  margin-bottom: 30px;
}

.jumbotron .panel-body p {
  font-size: 14px;
}

.event-details {
  margin-bottom: 10px;
}

.important {
  color: red;
}
