<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2 class="text-center">
      Troop VA-3021 launches on Monday, October 26, 2015
    </h2>
    <h3 class="text-center">
      <em>Come and get a taste of Life on the Trail!</em>
    </h3>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Inaugural Meeting - 10/26/2015</h4>
            <p>
              Monday, October 26, 2015 will be our Inaugural Troop Meeting. If
              you'd like to check out a meeting before committing, this is a
              great opportunity! Like all of our Troop Meetings, we will begin
              with an opening ceremony and then the boys will break up into
              their patrols. In this meeting, however, the normal content will
              be replaced by some fun get-to-know-you activities. We will also
              host a registration and information meeting for parents while the
              boys are in their patrols.
            </p>

            <div class="event-details">
              <div class="row">
                <div class="col-md-1">
                  <strong>Where:</strong>
                </div>
                <div class="col-md-11">
                  Parkway Christian Academy (upper level)
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <strong>Date:</strong>
                </div>
                <div class="col-md-11">
                  Monday, October 26, 2015
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <strong>Time:</strong>
                </div>
                <div class="col-md-11">
                  6:30 - 8:00 PM
                </div>
              </div>
            </div>

            <p>
              Our regular Troop Meetings will continue on the 2nd and 4th
              Mondays of each month at the same time and place as the Inaugural
              Troop Meeting. The troop will have monthly outings (hiking,
              camping, laser tag, service projects, etc.) on the Saturday after
              the first meeting of the month.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="tlusa-blurb" class="row">
    <div class="col-md-1 text-justify">
      <img src="site_icon-128x128.png" width="60px" class="hidden-sm hidden-xs">
    </div>

    <div class="col-md-9 text-justify">
      <p>
        Trail Life USA is a Christian adventure, character, and leadership
        program for young men. The K-12 program centers on outdoor experiences
        that build a young man’s skills and allow him to grow on a personal
        level and as a role model and leader for his peers.  Living the Trail
        Life is a journey established on timeless values derived from the
        Bible.
      </p>
    </div>

    <div class="col-md-2 text-justify">
      <p><a class="btn btn-primary btn-lg" href="http://www.traillifeusa.com" target="_blank" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4 text-justify">
      <div>
        <img src="/images/TL_woodlands_sq-150x150.jpg" class="center-block hidden-sm hidden-xs">
        <h4 class="text-center">Woodlands Trail (Grades K-5)</h4>
      </div>

      <p>
        This curriculum-based youth development program is focused on active
        cumulative learning rather than on earning the next uniform insignia or
        emblem. Success is not measured in the quantity of insignia but in the
        quality of the young man.
      </p>

      <p>
        The program consists of three age groups: Foxes (Grades K-1); Hawks
        (Grades 2-3); Mountain Lions (Grades 4-5). Each age group is lead by an
        adult Trail Guide.
      </p>
    </div>

    <div class="col-md-4 text-justify">
      <div>
        <img src="/images/TL_navigators_sq-150x150.jpg" class="center-block hidden-sm hidden-xs">
        <h4 class="text-center">Navigators (Grades 6-8)</h4>
      </div>
      <p>
        The Navigators are lead by a Trailmaster who may also work with Trail
        Guides to deliver some of the curriculum, and provide oversight of the
        program as boys learn to lead themselves. This learned leadership comes
        by accepting responsibilities within the unit and learning to work
        together as a team. Leadership is also learned through service projects
        and helping other people.
      </p>
      <p>
        At this level, a Trailman progresses in rank as he masters outdoor
        adventure skills and accrues service hours.
      </p>
    </div>

    <div class="col-md-4 text-justify">
      <div>
        <img src="/images/TL_adventurers_sq-150x150.jpg" class="center-block hidden-sm hidden-xs">
        <h4 class="text-center">Adventurers (Grades 9-12)</h4>
      </div>
      <p>
        At this level, advancement continues to focus on a mix of required and
        elective badges for skill mastery, but also ups the required level of
        service provided to others.
      </p>
      <p>
        Emphasis at this level shifts from advancing in rank to earning three
        increasingly-difficult awards.
      </p>
      <p>
        Youth leadership of the troop typically comes from among these young
        men.
      </p>
    </div>
  </div>
</div>
